# Environnement Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv/
pyvenv.cfg

# Base de données SQLite
stock.db
stock.db-journal

# Fichiers PyCharm
.idea/
*.iml

# Fichiers système
.DS_Store
Thumbs.db